/* ---------------------------------------------------------------------
Page
------------------------------------------------------------------------ */
.page {
    display: table;
    height: 100%;
    width: 100%;
    table-layout: fixed;
}

.page-bd {
    display: table-row;
    height: auto;
}

.page-ft {
    display: table-row;
    height: 1px;
}