/* ---------------------------------------------------------------------
 Colors
------------------------------------------------------------------------ */
$BRAND: #1e4d7d;

$DARK: #000000;
$LIGHT: #FFFFFF;


/* ---------------------------------------------------------------------
 Units
------------------------------------------------------------------------ */
$BASE_SPACING_UNIT: 4px;
$SITE_WIDTH: 1150px;

/* ---------------------------------------------------------------------
 Fonts
------------------------------------------------------------------------ */
$FONT_BRAND: 'sinkin_sans800_black';
$FONT_BRAND_MED: 'sinkin_sans500_medium';
$FONT_BRAND_BLACK: 'sinkin_sans400_regular';

$FONT_COPY: 'Open Sans', sans-serif;
$FONT_COPY_BOLD: 'Open Sans Bold', sans-serif;

/* ---------------------------------------------------------------------
 Breakpoints
------------------------------------------------------------------------ */
$VIEWPORT_SM: 669px;
$VIEWPORT_MED: 769px;
$VIEWPORT_LG: 1049px;




