/* ---------------------------------------------------------------------
 Object: Wrapper
------------------------------------------------------------------------ */
.wrapper {
    margin: auto;
    padding: 50px 20px;
    width: 100%;
    max-width: $SITE_WIDTH;
    box-sizing: border-box;
}