/* ----------------------------------------------------------------------------
Elements
---------------------------------------------------------------------------- */
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-size: 16px;
}

body {
    background-color: $LIGHT;
    color: $DARK;
    font-family: $FONT_COPY;
    line-height: 1.3;
}

a {
    color: $COLOR_TXT_LINK;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    height: auto;
    max-width: 100%;
}

p {
    margin-bottom: 12px;
}

p:last-of-type {
    margin-bottom: 0;
}

b,
strong {
    font-family: $FONT_COPY_BOLD;
}

/* ----------------------------------------------------------------------------
Placeholder Text
---------------------------------------------------------------------------- */
::-webkit-input-placeholder {
    color: $COLOR_TXT_BRAND;
    font-family: $FONT_BRAND_MED;
}

:-moz-placeholder { /* Firefox 18- */
    color: $COLOR_TXT_BRAND;
    font-family: $FONT_BRAND_MED;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: $COLOR_TXT_BRAND;
    font-family: $FONT_BRAND_MED;
}

:-ms-input-placeholder {
    color: $COLOR_TXT_BRAND;
    font-family: $FONT_BRAND_MED;
}
