/* ---------------------------------------------------------------------
Grid Generator
------------------------------------------------------------------------ */

.grid {
    flex-wrap: nowrap;
}

.grid-col + .grid-col {
    margin-top: 0;
    margin-left: $grid-GUTTER;
}

/* Generate grid columns */
@for $i from 1 through $grid-COUNT_MAX {

    .grid-col_#{$i}of#{$grid-COUNT_MAX}\@sm {
        width: calc( (100% / #{$grid-COUNT_MAX}) * #{$i});
    }

}