/* ---------------------------------------------------------------------
 Colors
------------------------------------------------------------------------ */



/* ---------------------------------------------------------------------
 Units
------------------------------------------------------------------------ */
$BASE_SPACING_UNIT: 4px;
$SITE_WIDTH: 1150px;

/* ---------------------------------------------------------------------
 Fonts
------------------------------------------------------------------------ */


/* ---------------------------------------------------------------------
 Breakpoints
------------------------------------------------------------------------ */
$VIEWPORT_SM: 669px;
$VIEWPORT_MED: 769px;
$VIEWPORT_LG: 1049px;




