<ul class="blocks blocks_1up blocks_2up@sm blocks_3up@med blocks_4up@lg">
    <li>
        <div style="height: 30px; background-color: dodgerBlue;">
            block 1
        </div>
    </li>
    <li>
        <div style="height: 30px; background-color: dodgerBlue;">
            block 2
        </div>
    </li>
    <li>
        <div style="height: 30px; background-color: dodgerBlue;">
            block 2
        </div>
    </li>
    <li>
        <div style="height: 30px; background-color: dodgerBlue;">
            block 2
        </div>
    </li>
    <li>
        <div style="height: 30px; background-color: dodgerBlue;">
            block 2
        </div>
    </li>
    <li>
        <div style="height: 30px; background-color: dodgerBlue;">
            block 2
        </div>
    </li>
    <li>
        <div style="height: 30px; background-color: dodgerBlue;">
            block 2
        </div>
    </li>
</ul>