<div class="vr">
    <div class="grid grid_persist">
        <div class="grid-col grid-col_6of12">
            <div style="height: 30px; background-color: dodgerBlue;">
                Col 1
            </div>
        </div>

        <div class="grid-col grid-col_6of12">
            <div style="height: 30px; background-color: dodgerBlue;">
                Col 2
            </div>
        </div>
    </div>
</div>


<div class="vr">
    <div class="grid">
        <div class="grid-col grid-col_4of12@sm">
            <div style="height: 30px; background-color: dodgerBlue;">
                Col 1
            </div>
        </div>

        <div class="grid-col grid-col_8of12@sm">
            <div style="height: 30px; background-color: dodgerBlue;">
                Col 2
            </div>
        </div>
    </div>
</div>

<div class="vr vr_x4@sm vr_x8@sm">
    <div style="height: 30px; background-color: dodgerBlue;">
        Box
    </div>
</div>

<div class="vr vr_x4@sm vr_x8@lg">
    <div style="height: 30px; background-color: dodgerBlue;">
        Box
    </div>
</div>
<div class="vr vr_x4@sm vr_x8@lg">
    <div style="height: 30px; background-color: dodgerBlue;">
        Box
    </div>
</div>
<div class="vr vr_x4@sm vr_x8@lg">
    <div style="height: 30px; background-color: dodgerBlue;">
        Box
    </div>
</div>