/* ---------------------------------------------------------------------
 Object: Wrapper
------------------------------------------------------------------------ */
.wrapper {  
    width: $SITE_WIDTH;
    margin: 0 auto; 
}