/* ---------------------------------------------------------------------
 Box Module
------------------------------------------------------------------------ */
.box { background: #cccccc; }

.box-hd {
    background: #aaaaaa;
    padding: 8px 14px;
}

.box-bd { padding: 8px 14px; }
.box-ft { padding: 0 14px 8px 14px; }

/* featured box extention */
.box_featured { background: #cceeee; }
.box-hd_featured { background: #a5d3d3; }