/* ---------------------------------------------------------------------
Helpers
------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------
 Colors
------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------
 Units
------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------
 Fonts
------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------
 Breakpoints
------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------
 Global Prefix Mixin

*
* Example Use:
* 
* @include prefix(border-radius, 5px, webkit moz);
*
------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------
 Mixins
------------------------------------------------------------------------ */
/*clearfix mixin*/
/* ---------------------------------------------------------------------
 Utility Classes
------------------------------------------------------------------------ */
.isVisuallyHidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  position: absolute;
  clip: rect(0 0 0 0);
  overflow: hidden; }

/* ---------------------------------------------------------------------
Base
------------------------------------------------------------------------ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:focus {
  outline: 0; }

/* Always show a vertical scrollbar, even when there is no scrolling */
html {
  overflow-y: scroll; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* ---------------------------------------------------------------------
 HTML5 Block / Inline Block declarations
------------------------------------------------------------------------ */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block; }

/* ---------------------------------------------------------------------
 Form Reset Styles
------------------------------------------------------------------------ */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none; }

input[type="search"] {
  -webkit-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* ---------------------------------------------------------------------
Landmarks
------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------
Modules
------------------------------------------------------------------------ */
/*layouts*/
/* ---------------------------------------------------------------------
 Blocks
------------------------------------------------------------------------ */
/* Generate blocks */
.blocks_1up > * {
  width: 100%; }

.blocks_2up > * {
  width: 50%; }

.blocks_3up > * {
  width: 33.3333333333%; }

.blocks_4up > * {
  width: 25%; }

.blocks_5up > * {
  width: 20%; }

.blocks_6up > * {
  width: 16.6666666667%; }

.blocks_7up > * {
  width: 14.2857142857%; }

.blocks_8up > * {
  width: 12.5%; }

.blocks {
  display: flex;
  flex-wrap: wrap; }

/* ---------------------------------------------------------------------
Grid Generator
------------------------------------------------------------------------ */
.grid {
  display: flex;
  flex-wrap: wrap; }

.grid-col {
  width: 100%; }

.grid-col + .grid-col {
  margin-top: 4%; }

.grid_persist {
  flex-wrap: nowrap; }

.grid_persist .grid-col + .grid-col {
  margin-top: 0;
  margin-left: 4%; }

/* Generate grid columns */
.grid-col_1of12 {
  width: calc( (100% / 12) * 1); }

.grid-col_2of12 {
  width: calc( (100% / 12) * 2); }

.grid-col_3of12 {
  width: calc( (100% / 12) * 3); }

.grid-col_4of12 {
  width: calc( (100% / 12) * 4); }

.grid-col_5of12 {
  width: calc( (100% / 12) * 5); }

.grid-col_6of12 {
  width: calc( (100% / 12) * 6); }

.grid-col_7of12 {
  width: calc( (100% / 12) * 7); }

.grid-col_8of12 {
  width: calc( (100% / 12) * 8); }

.grid-col_9of12 {
  width: calc( (100% / 12) * 9); }

.grid-col_10of12 {
  width: calc( (100% / 12) * 10); }

.grid-col_11of12 {
  width: calc( (100% / 12) * 11); }

.grid-col_12of12 {
  width: calc( (100% / 12) * 12); }

/* ---------------------------------------------------------------------
 VR
------------------------------------------------------------------------ */
.vr {
  margin-bottom: 10px; }

.vr_x2 {
  margin-bottom: 20px; }

.vr_x3 {
  margin-bottom: 30px; }

.vr_x4 {
  margin-bottom: 40px; }

.vr_x5 {
  margin-bottom: 50px; }

.vr_x6 {
  margin-bottom: 60px; }

.vr_x7 {
  margin-bottom: 70px; }

.vr_x8 {
  margin-bottom: 80px; }

@media screen and (min-width: 669px) {
  /* ---------------------------------------------------------------------
 Blocks
------------------------------------------------------------------------ */
  /* Loop through block options */
  .blocks_1up\@sm > * {
    width: 100%; }
  .blocks_2up\@sm > * {
    width: 50%; }
  .blocks_3up\@sm > * {
    width: 33.3333333333%; }
  .blocks_4up\@sm > * {
    width: 25%; }
  .blocks_5up\@sm > * {
    width: 20%; }
  .blocks_6up\@sm > * {
    width: 16.6666666667%; }
  .blocks_7up\@sm > * {
    width: 14.2857142857%; }
  .blocks_8up\@sm > * {
    width: 12.5%; }
  /* ---------------------------------------------------------------------
Grid Generator
------------------------------------------------------------------------ */
  .grid {
    flex-wrap: nowrap; }
  .grid-col + .grid-col {
    margin-top: 0;
    margin-left: 4%; }
  /* Generate grid columns */
  .grid-col_1of12\@sm {
    width: calc( (100% / 12) * 1); }
  .grid-col_2of12\@sm {
    width: calc( (100% / 12) * 2); }
  .grid-col_3of12\@sm {
    width: calc( (100% / 12) * 3); }
  .grid-col_4of12\@sm {
    width: calc( (100% / 12) * 4); }
  .grid-col_5of12\@sm {
    width: calc( (100% / 12) * 5); }
  .grid-col_6of12\@sm {
    width: calc( (100% / 12) * 6); }
  .grid-col_7of12\@sm {
    width: calc( (100% / 12) * 7); }
  .grid-col_8of12\@sm {
    width: calc( (100% / 12) * 8); }
  .grid-col_9of12\@sm {
    width: calc( (100% / 12) * 9); }
  .grid-col_10of12\@sm {
    width: calc( (100% / 12) * 10); }
  .grid-col_11of12\@sm {
    width: calc( (100% / 12) * 11); }
  .grid-col_12of12\@sm {
    width: calc( (100% / 12) * 12); }
  /* ---------------------------------------------------------------------
 VR
------------------------------------------------------------------------ */
  .vr_x2\@sm {
    margin-bottom: 20px; }
  .vr_x3\@sm {
    margin-bottom: 30px; }
  .vr_x4\@sm {
    margin-bottom: 40px; }
  .vr_x5\@sm {
    margin-bottom: 50px; }
  .vr_x6\@sm {
    margin-bottom: 60px; }
  .vr_x7\@sm {
    margin-bottom: 70px; }
  .vr_x8\@sm {
    margin-bottom: 80px; } }

@media screen and (min-width: 769px) {
  /* ---------------------------------------------------------------------
 Blocks
------------------------------------------------------------------------ */
  /* Loop through block options */
  .blocks_1up\@med > * {
    width: 100%; }
  .blocks_2up\@med > * {
    width: 50%; }
  .blocks_3up\@med > * {
    width: 33.3333333333%; }
  .blocks_4up\@med > * {
    width: 25%; }
  .blocks_5up\@med > * {
    width: 20%; }
  .blocks_6up\@med > * {
    width: 16.6666666667%; }
  .blocks_7up\@med > * {
    width: 14.2857142857%; }
  .blocks_8up\@med > * {
    width: 12.5%; }
  /* ---------------------------------------------------------------------
 VR
------------------------------------------------------------------------ */
  .vr_x2\@med {
    margin-bottom: 20px; }
  .vr_x3\@med {
    margin-bottom: 30px; }
  .vr_x4\@med {
    margin-bottom: 40px; }
  .vr_x5\@med {
    margin-bottom: 50px; }
  .vr_x6\@med {
    margin-bottom: 60px; }
  .vr_x7\@med {
    margin-bottom: 70px; }
  .vr_x8\@med {
    margin-bottom: 80px; } }

@media screen and (min-width: 1049px) {
  /* ---------------------------------------------------------------------
 Blocks
------------------------------------------------------------------------ */
  /* Loop through block options */
  .blocks_1up\@lg > * {
    width: 100%; }
  .blocks_2up\@lg > * {
    width: 50%; }
  .blocks_3up\@lg > * {
    width: 33.3333333333%; }
  .blocks_4up\@lg > * {
    width: 25%; }
  .blocks_5up\@lg > * {
    width: 20%; }
  .blocks_6up\@lg > * {
    width: 16.6666666667%; }
  .blocks_7up\@lg > * {
    width: 14.2857142857%; }
  .blocks_8up\@lg > * {
    width: 12.5%; }
  /* ---------------------------------------------------------------------
 VR
------------------------------------------------------------------------ */
  .vr_x2\@lg {
    margin-bottom: 20px; }
  .vr_x3\@lg {
    margin-bottom: 30px; }
  .vr_x4\@lg {
    margin-bottom: 40px; }
  .vr_x5\@lg {
    margin-bottom: 50px; }
  .vr_x6\@lg {
    margin-bottom: 60px; }
  .vr_x7\@lg {
    margin-bottom: 70px; }
  .vr_x8\@lg {
    margin-bottom: 80px; } }

/*# sourceMappingURL=modern.css.map */